/* color palette from <https://github.com/vuejs/theme> */
:root {
  --v-white: #ffffff;
  --v-white-soft: #f8f8f8;
  --v-white-mute: #f2f2f2;

  --v-black: #181818;
  --v-black-soft: #222222;
  --v-black-mute: #282828;

  --v-indigo: #2c3e50;

  --v-primary-light-1: #607cd2;
  --v-primary-dark-1: #98ace9;

  --v-divider-light-1: rgba(60, 60, 60, 0.29);
  --v-divider-light-2: rgba(60, 60, 60, 0.12);
  --v-divider-dark-1: rgba(84, 84, 84, 0.65);
  --v-divider-dark-2: rgba(84, 84, 84, 0.48);

  --v-text-light-1: var(--v-indigo);
  --v-text-light-2: rgba(60, 60, 60, 0.66);
  --v-text-dark-1: var(--v-white);
  --v-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-primary: var(--v-primary-light-1);

  --color-background: var(--v-white);
  --color-background-soft: var(--v-white-soft);
  --color-background-mute: var(--v-white-mute);

  --color-border: var(--v-divider-light-2);
  --color-border-hover: var(--v-divider-light-1);

  --color-heading: var(--v-text-light-1);
  --color-text: var(--v-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: var(--v-primary-dark-1);

    --color-background: var(--v-black);
    --color-background-soft: var(--v-black-soft);
    --color-background-mute: var(--v-black-mute);

    --color-border: var(--v-divider-dark-2);
    --color-border-hover: var(--v-divider-dark-1);

    --color-heading: var(--v-text-dark-1);
    --color-text: var(--v-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins.woff2') format('woff2');
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  background: var(--color-background-soft);
  transition: color 0.3s, background-color 0.3s;
  line-height: 1.6;
  font-family: "Poppins", Arial, "幼圆", Inter, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
