@import "./base.css";

#__nuxt {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: currentColor;
}

a:hover,
a:active {
  color: var(--color-primary);
}

.background-mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.08;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  overflow: hidden;
  transform: rotateZ(0);
  --background-mask-size: 170px;
}

.background-mask::before,
.background-mask::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  transform-origin: left;
  transform: rotate(-25deg);
  background-size: var(--background-mask-size);
  background-repeat: repeat-x;
  will-change: background;
}

.background-mask::before {
  background-image: var(--background-mask-image-1);
  background-position-x: var(--background-mask-position-x-1);
  background-position-y: var(--background-mask-position-y-1);
}
.background-mask::after {
  background-image: var(--background-mask-image-2);
  background-position-x: var(--background-mask-position-x-2);
  background-position-y: var(--background-mask-position-y-2);
}
